/* Mengatur gaya dasar untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Mengatur gaya untuk header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header {
    display: flex;
    align-items: center; /* Menyelaraskan logo dan judul secara vertikal */
    padding: 20px;
    background-color: #f4f4f4;
}

.logo {
    width: 50px; /* Atur ukuran logo sesuai kebutuhan */
    height: auto; /* Memastikan proporsi logo tetap terjaga */
    margin-right: 20px; /* Jarak antara logo dan judul */
}

h1 {
    font-size: 2em;
    color: #333;
}

/* Mengatur gaya untuk section (bagian utama konten) */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mengatur gaya untuk judul */
h1, h2, h3 {
    color: #333;
}

/* Mengatur gaya untuk paragraf */
p {
    line-height: 1.6;
}

/* Mengatur gaya untuk daftar (list) */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Mengatur gaya untuk footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
